<!DOCTYPE html>
<html lang="es">
<head>
	<title>Lista Pokemons</title>
    <meta charset="utf-8">
    <script src="cliente.js"></script>
    <link rel="stylesheet" href="estilos.css">
</head>
    <body>
        <ul>
            <li><a href="index.html">Inicio</a></li>
        </ul>
        <h1>Lista de Pokemons</h1>
        <p id="demo" for="boton">Click en el boton para actualizar la lista</p>
        <table>
            <tr>
              <th>Nombre</th>
              <th>Peso</th>
              <th>Altura</th>
              <th>Tipo</th>
            </tr>
            <tbody id="contenido">
              <tr>
                <td>Bulbasaur</td>
                <td>9</td>
                <td>1</td>
                <td>Planta</td>
              </tr>
            </tbody>
          </table> 
        <button id="boton"type="button" onclick="myFunction()">Actualizar</button>
    </body>
</html>